@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOC TYPE html>
    <html>
    <head>
        <title>Visual Studio HTML Assignment</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="Visual_Studio_HTML_Assignment.js"></script>

    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <div class="cursive"><p>Mozart- Requiem</p></div>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/Zi8vJ_lMxQI&ab_channel=madhammu">
        </iframe>
        <p><button onclick="myMove()">Click Me</button></p>

        <div id="container">
            <div id="animate"></div>
        </div>

    </body>
</html>

